html {
  scroll-behavior: smooth;
}

body{ background: none;}

#header {
  width: 100%;
  height: 35px;
  position: absolute;
  z-index: 100;
  top:0px;
  background-color: black;
  
}

/* CAROUSEL */
#demo {height: 100vh;}

.carousel {
    position:absolute !important; 
    width: 100% !important; 
    top:0;    
    height: 100vh;
}

.carousel_image {
   width: 100% !important; 
   display: flex;
   overflow: hidden;
   align-items: center !important; 
  height: 100vh;
}
/* END OF CAROUSEL */



/*  NAVBAR */
.navbar-brand {
  font-size: 2.5em !important;
  font-weight: bold;
  color: white !important;
  margin-right: 45px !important;
  margin-left: 45px !important;
}

nav {
    width:100% !important;
    height: 65px !important;
    position: absolute;
    top: 40px;
    text-align: right;
    margin-left: auto;
    z-index: 10;
}

a.nav-link:hover  {
  color: #c99947 !important;
  text-decoration: underline !important;
  border-bottom: 2px solid #c99947 !important;
}
a.nav-link {
  transition: 1s border-bottom;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  color: white !important;
  padding-top: 20px;
}

/* rows */
div.dropdown-multicol{
  width: 30em;
}
div.dropdown-row>a.dropdown-item{
  display:inline-block;
  width: 32%;
}
 
/* Columns */
div.dropdown-multicol2{
  width: 30em;
}

div.dropdown-multicol2>div.dropdown-col{
  display:inline-block;
  width: 32%;

}
.dropdown-col {
vertical-align:top;
}

/* SECTIONS  */
.section_wrapper {
  height: 100vh;
}
#home_section {
   height: 100vh;
}


.card {
  width: 22rem !important;
  margin-left: 4rem !important;
  height: 70% !important;
   
}

img.card-img-top{
    border-radius: 50%;
  display: inline-block;
}


/* Pre sets */

.float_left{
  float: left;
}
.height_30 {
  height: 30vh;
  border: 2px solid black;
}
.height_70 {
  height: 70vh;
  border: 2px solid black;
}
.height_20 {
  height: 20vh;
  border: 2px solid black;
}
.height_80 {
  height: 80vh;
  border: 2px solid black;
}

.centered_div {
  margin: 0 auto;
}