
.news_container    {
    width: 90%;
    margin: 0 auto;
}
.news_row {
  height: 400px;
  margin-bottom: 25px;
}
.news_image {
    height: 90%;
    width: 80% !important;
    margin: 0 auto;
}

.wrapper_for_news {

  width: 90%;
  margin: 0 auto;
  margin-top: 120px;
}

#header2page {
  height:100px;
  background: black;
 }

.mirrow {
  background-color: gray;
  opacity: 0.9;
  padding-top:  20px;

  color: white;
}
